// stylelint-disable scss/at-import-partial-extension

/**
 * font defintions
 */
@import "../01-settings/index.scss";

html,
body {
  font-family: $font-family;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  color: $color-neutral;
  /* stylelint-disable-next-line  */
  font-smooth: auto;
}
